<mat-card [class.mat-card-grey]="color">
    <mat-card-header>
        <mat-card-title><mat-icon>face</mat-icon><b> {{comment.by}}</b> - <small><i>{{comment.time | date}}</i></small></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-divider [inset]="true"></mat-divider>
        <div class="chart-body" [innerHTML]="comment.text"></div>
    </mat-card-content>
    <mat-card-actions>
        <div class="col-md-12" *ngFor="let kid of comments">
            <app-comment-card [color]="color" [comment]="kid"></app-comment-card>
            <br>
        </div>
    </mat-card-actions>
</mat-card>